[defaults]
timeout = 60
host_key_checking=False
forks=5
#interpreter_python = 
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
ssh_args = -o ControlMaster=yes -o ControlPersist=120s -o ForwardAgent=yes
#pipelining = True

